@charset "utf-8";
/* CSS Document */

h1 { 
text-align:center;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
}

div{
  border: 1px solid black;
  background-color: #A79C9C;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left:auto;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif ;
  color: white;
 }
 
 p1{  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif ;
    float:right;
	color: black;
	padding: 1px 30px 1px 30px;
	border: 1px solid black;
	display:inline;
	margin:auto;
	background:#F07B15;
 }
 
 p2{  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif ;
    float:right;
	color: white;
	padding: 1px 30px 1px 30px;
	border: 1px solid black;
	display:inline;
	margin:auto;
	background:#D1171A;
 }
 
 p3{  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif ;
    float:right;
	color: black;
	padding: 1px 30px 1px 30px;
	border: 1px solid black;
	display:inline;
	margin:auto;
	background:#E9CC07;
 }
 
 section{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
 	padding: 40px;
 	text-align:left;
	color:black;
	size:5px;
	}
	

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 25px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3{
    float: left;
  }
  .col-lg-1 {
    width: 100%;
  }
  .col-lg-2 {
    width: 100%;
  }
  .col-lg-3 {
    width:100%;
  }
  
}

/********** Medium devices only **********/


@media (min-width: 992px) and (max-width: 1199px) {
	
  .col-md-1,.col-md-2, .col-md-3 {
    float:left;
  
}




